/* .App {
  text-align: center;
} */

.link {
  color: black; 
  text-decoration: none;
}

.link:hover{
  color: grey;
  transition: 0.3s ease-in-out;
}

.header{
  background-color: #84fff9;
}

.navbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  padding-right: 30px;
}

.nav-item {
  padding: 0 15px;
}

.nav-head{
  padding-left: 15px;
}

.products-list{
  text-align: center;
}

.list-group-item:hover {
  color: grey;
  transition: 0.3s ease-in-out;
}
